<!DOCTYPE html>
<html lang="en">

<head>
    <title>Trang chủ</title>
    <!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 10]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon" />
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet" />
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="assets/plugins/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="assets/plugins/font-awesome/css/font-awesome.min.css" />
    <!-- themify-icons line icon -->
    <link rel="stylesheet" type="text/css" href="assets/icon/themify-icons/themify-icons.css" />
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" href="assets/icon/icofont/css/icofont.css" />
    <!-- feather Awesome -->
    <link rel="stylesheet" type="text/css" href="assets/icon/feather/css/feather.css" />
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="assets/css/style.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/jquery.mCustomScrollbar.css" />
</head>

<body>
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">

            <nav class="navbar header-navbar pcoded-header">
                <div class="navbar-wrapper">
                    <div class="navbar-logo">
                        <a class="mobile-menu" id="mobile-collapse" href="#!">
                            <i class="feather icon-menu"></i>
                        </a>
                        <a href='#'>
                            <img class="img-fluid" src='assets/images/logo.png' alt="Theme-Logo">
                        </a>
                        <a class="mobile-options">
                            <i class="feather icon-more-horizontal"></i>
                        </a>
                    </div>

                    <div class="navbar-container container-fluid">
                        <ul class="nav-left">
                            <li class="header-search">
                                <div class="main-search morphsearch-search">
                                    <div class="input-group">
                                        <span class="input-group-addon search-close"><i
                                                class="feather icon-x"></i></span>
                                        <input type="text" class="form-control">
                                        <span class="input-group-addon search-btn"><i
                                                class="feather icon-search"></i></span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <ul class="nav-right">
                            <li class="header-notification">
                                <div class="dropdown-primary dropdown">
                                    <div class="dropdown-toggle" data-toggle="dropdown">
                                        <i class="feather icon-bell"></i>
                                        <span class="badge bg-c-pink">5</span>
                                    </div>
                                </div>
                            </li>
                            <li class="header-notification">
                                <div class="dropdown-primary dropdown">
                                    <div class="displayChatbox dropdown-toggle" data-toggle="dropdown">
                                        <i class="feather icon-message-square"></i>
                                        <span class="badge bg-c-green">3</span>
                                    </div>
                                </div>
                            </li>
                            <li class="user-profile header-notification">
                                <div class="dropdown-primary dropdown">
                                    <div class="dropdown-toggle" data-toggle="dropdown">
                                        <img src="assets/images/avatar-4.jpg" class="img-radius" id="iAvatar"
                                            alt="User-Profile-Image">
                                        <span id="sName">John Doe</span>
                                        <i class="feather icon-chevron-down"></i>
                                    </div>
                                    <ul class="show-notification profile-notification dropdown-menu"
                                        data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                                        <li>
                                            <a href="#!">
                                                <i class="feather icon-settings"></i> Settings
                                            </a>
                                        </li>
                                        <li>
                                            <a href="user-profile.htm">
                                                <i class="feather icon-user"></i> Profile
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)" onclick="logout()">
                                                <i class="feather icon-log-out"></i> Logout
                                            </a>
                                        </li>
                                    </ul>

                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                        <nav class="pcoded-navbar">
                                <div class="pcoded-inner-navbar main-menu">
                                    <ul class="pcoded-item pcoded-left-item">
                                        <li class="">
                                            <a href="javascript:void(0)">
                                                <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                                                <span class="pcoded-mtext">Dashboard</span>
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="./category-index.html">
                                                <span class="pcoded-micon"><i class="feather icon-layers"></i></span>
                                                <span class="pcoded-mtext">Danh mục</span>
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="./course-list.html">
                                                <span class="pcoded-micon"><i class="feather icon-layers"></i></span>
                                                <span class="pcoded-mtext">Khóa học</span>
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="./video-list.html">
                                                <span class="pcoded-micon"><i class="feather icon-layers"></i></span>
                                                <span class="pcoded-mtext">Video</span>
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="./target-list.html">
                                                <span class="pcoded-micon"><i class="feather icon-layers"></i></span>
                                                <span class="pcoded-mtext">Mục tiêu</span>
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="./user-index.html">
                                                <span class="pcoded-micon"><i class="feather icon-user"></i></span>
                                                <span class="pcoded-mtext">Tài khoản</span>
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="./role-index.html">
                                                <span class="pcoded-micon"><i class="feather icon-user"></i></span>
                                                <span class="pcoded-mtext">Quyền</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                    <div class="pcoded-content">
                        <div class="pcoded-inner-content">
                            <!-- Main-body start -->
                            <div class="main-body">
                                <div class="page-body">
                                    <div class="row">
                                        <div class="col-md-12 mb-2">
                                            <div class="page-header-breadcrumb">
                                                <ul class="breadcrumb-title">
                                                    <li class="breadcrumb-item">
                                                        <a href="/admin"> 
                                                            <i class="feather icon-home"></i> Trang chủ
                                                        </a>
                                                    </li>
                                                    <li class="breadcrumb-item">
                                                        <a href="#!">Cập nhật mục tiêu</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h2 class="text-uppercase text-center">Cập nhật mục tiêu</h2>
                                                </div>
                                                <div class="card-block">
                                                    <form action="#" method="post" >
                                                        <div class="row">
                                                            <div class="col-md-6 m-auto">
                                                                <div class="form-group">
                                                                    <label>Tiêu đề</label>
                                                                    <input type="text" name="title" class="form-control" id="title"/>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label>Khóa học</label>
                                                                    <select name="" id="courseSelect" class="form-control">
                                                                        <option value="">Java script căn bản</option>
                                                                        <option value="">Spring MVC</option>
                                                                        <option value="">Spring Boot</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-12"></div>
                                                            <div class="col-md-6 m-auto">
                                                                <div class="form-group mt-3">
                                                                    <button type="button" class="btn btn-primary m-b-0" onclick="save()">Lưu lại</button>
                                                                    <a href="./target-list.html" class="btn btn-secondary text-white">Quay lại</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="assets/plugins/jquery/js/jquery.min.js"></script>
    <script type="text/javascript" src="assets/plugins/jquery-ui/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="assets/plugins/popper.js/js/popper.min.js"></script>
    <script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- jquery slimscroll js -->
    <script type="text/javascript" src="assets/plugins/jquery-slimscroll/js/jquery.slimscroll.js"></script>
    <!-- modernizr js -->
    <script type="text/javascript" src="assets/plugins/modernizr/js/modernizr.js"></script>
    <script type="text/javascript" src="assets/plugins/modernizr/js/css-scrollbars.js"></script>
    <script src="assets/js/pcoded.min.js"></script>
    <script src="assets/js/vartical-layout.min.js"></script>
    <script src="assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <!-- Custom js -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="assets/js/script.js"></script>
    <script src="//cdn.ckeditor.com/4.11.4/full/ckeditor.js"></script>
    <script src="http://cdn.ckeditor.com/4.4.7/standard-all/adapters/jquery.js"></script>
    <script src="assets/js/main/index.js"></script>
    <script src="assets/js/target/edit.js"></script>
</body>

</html>